<form [formGroup]="form" (ngSubmit)="onSubmit(form,$event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>注册:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="您的email" formControlName="email"/>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="您的姓名"  formControlName="name"/>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="您的密码"  formControlName="password"/>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="重复输入您的密码"  formControlName="passwordRepeat"/>
      </mat-form-field>
      <app-image-list-select
        [useSvgIcon]="true"
        [cols]="6"
        [title]="'选择头像：'"
        [items]="items"
        formControlName="avatar"
      >
      </app-image-list-select>
      <button mat-raised-button type="button">注册</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>还没有账户?<a href="">注册</a></p>
      <p>忘记密码?<a href="">找回</a></p>
    </mat-card-actions>
  </mat-card>
</form>