<div class="tasklists">
  <app-task-list 
    *ngFor="let list of lists"
    app-droppable 
    [dragEnterClass]="'drag-enter'" 
    [dropTags]="['task-item','task-list']" 
    (dropped)="handleMove($event,list)"
    [dragTag]="'task-list'" 
    [app-draggable]="true" 
    [draggedClass]="'drag-start'" 
    [dragData]="list"
    [ngStyle]="{'order':list.order}"
    class="list-container" 
  >
  <app-quick-task (quickTask)="handleQuickTask($event)"></app-quick-task>
    <app-task-header [header]="list.name" (newTask)="launchNewTaskDialog()" (moveAll)="launchCopyTaskDialog()" (delList)="launchConfirmDialog()" (onEditList)="launchEditListDialog()"></app-task-header>
    <app-task-item *ngFor="let task of list.tasks" [item]="task" (taskClick)="launchUpdateTaskDialog(task)"></app-task-item>
  </app-task-list>
</div>

<button mat-fab type="button" class="fab-button" (click)="launchNewListDialog()">
  <mat-icon>add</mat-icon>
</button>