<div class="tasklists">
  <app-task-list class="list-container" *ngFor="let list of lists">
    <app-task-header [header]="list.name" (newTask)="launchNewTaskDialog()" (moveAll)="launchCopyTaskDialog()" (delList)="launchConfirmDialog()" (onEditList)="launchEditListDialog()"></app-task-header>
    <app-task-item *ngFor="let task of list.tasks" [item]="task" (taskClick)="launchUpdateTaskDialog(task)"></app-task-item>
  </app-task-list>
</div>

<button mat-fab type="button" class="fab-button" (click)="launchNewListDialog()">
  <mat-icon>add</mat-icon>
</button>