<md-list-item class="contener" 
[@item]="widerPriority"
[app-draggable]="true"
[dragTag]="'task-item'"
[draggedClass]="'drag-start'"
[ngClass]="{
  'priority-normal': item.priority === 3,
  'priority-important': item.priority === 2,
  'priority-emergency': item.priority === 1
}"
(click)="onItemClick($event)">

  <md-checkbox class="completion-status" [checked]="item.completed" (click)="onCheckBoxClick($event)"></md-checkbox>
  <div md-line class="content" [ngClass]="{'completed':item.completed}">
    <span [md-tooltip]="item.desc">{{item.desc}}</span>
  </div>
  <div md-line class="bottom-bar">
    <span class="due-date" *ngIf="item.dueDate">{{item.dueDate | date: "yy-MM-dd"}}</span>
    <md-icon *ngIf="item.reminder">alarm</md-icon>
  </div>
  <md-icon [svgIcon]="move" md-list-avatar class="avatar">delete_forever</md-icon>
</md-list-item>
